body {
	background-color: #F33;
	color: #FFF;
	font-family: Arial , arial;
	font-size: 12pt;
	text-align: center;
}

section {
	max-width: 400px;
	margin: 0 auto;
}

#header p {
	background-color: #333;
	border: 0.75em solid #333;
	border-radius: 100%;
	display: inline-block;
	overflow: hidden;
	height: 200px;
	width: 200px;
}

#header img {
	max-height: 100%;
	max-width: 100%;
}
